// Variables of colors
$Orange: hsl(26, 100%, 55%);
$Pal-orange: hsl(25, 100%, 94%);
// ### Neutral
$Very-vark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayis-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
// import mixins
@use "../css/mixins.scss" as *;
// start body
body {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
}
// end body
// start container
.container {
  margin: auto;
  @include media(small) {
    width: 720px;
  }
  @include media(medium) {
    width: 960px;
  }
  @include media(large) {
    width: 1140px;
  }
  @include media(xlarge) {
    width: 1400px;
  }
}
// End container
// start header
header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid $Grayis-blue;
    padding: 15px 0;
    .logo {
      flex-basis: 10%;
      .menu {
        display: none;
        z-index: 1100;
      }
      @include media(mobile) {
        display: flex;
        align-items: center;
        .menu {
          margin-right: 10px;
          display: block;
        }
      }
    }
    nav {
      flex-basis: 40%;
      @include media(mobile) {
        position: absolute;
        left: -145px;
        bottom: 0;
        background: white;
        height: 100vh;
        z-index: 1000;
        transition: all 0.3s;
        &.displayNav {
          left: 0;
        }
      }
      ul {
        display: flex;
        list-style: none;
        align-items: center;
        @include media(mobile) {
          flex-direction: column;
          padding: 30px 30px 0 10px;
          margin-top: 75px;
        }
        li {
          margin-right: 20px;
          font-size: 16px;
          color: $Dark-grayish-blue;
          font-weight: 700;
          cursor: pointer;
          transition: all 0.3s;
          position: relative;
          @include media(mobile) {
            margin-bottom: 30px;
          }
          &.active-ele {
            color: $Black;
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 3px;
              background-color: $Orange;
              bottom: -33px;
              left: 0;
              transition: all 0.3s;
              @include media(mobile) {
                bottom: -8px;
              }
            }
          }
          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            background-color: $Orange;
            bottom: -33px;
            left: 0;
            transition: all 0.3s;
          }
          &:hover {
            color: $Black;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
    .info {
      flex-basis: 50%;
      display: flex;
      justify-content: end;
      align-items: center;
      position: relative;
      img {
        margin-right: 20px;
        cursor: pointer;
      }
      .cart-icon {
        position: relative;
        span {
          position: absolute;
          top: -14px;
          right: 5px;
          background: $Orange;
          color: white;
          font-size: 13px;
          padding: 2px 10px;
          border-radius: 10px;
          text-align: center;
          line-height: 1;
          font-weight: 700;
        }
      }
      .profile {
        width: 50px;
      }
      .profile:active {
        position: relative;
        top: 3px;
      }
      // Cart
      .cart {
        position: absolute;
        right: 0;
        top: 80px;
        width: 320px;
        box-shadow: 2px 7px 17px $Grayis-blue;
        background: white;
        border-radius: 10px;
        animation: cartani 0.3s linear forwards;
        z-index: 1000;
        display: none;
        &.display {
          display: block;
        }
        h4 {
          font-size: 16px;
          font-weight: bold;
          padding: 13px;
          margin: 0;
          border-bottom: 1px solid $Grayis-blue;
        }
        .empty {
          color: hsl(220deg, 14%, 75%);
          font-weight: 700;
          padding: 10px;
          font-size: 12px;
          text-align: center;
          line-height: 4.2;
        }
        .parent {
          padding: 20px;
          .proInCart {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            padding: 15px;
            .imgInCart {
              width: 50px;
              padding: 0;
              margin: 0;
              border-radius: 5px;
            }
            .text {
              p {
                color: hsl(220deg, 14%, 75%);
                padding: 2px;
                font-size: 13px;
                text-align: center;
                margin: 0;
                .total {
                  color: black;
                  font-weight: bold;
                }
              }
            }
          }
          .check-out {
            background: $Orange;
            font-weight: 700;
            color: white;
            border: none;
            font-size: 18px;
            padding: 10px;
            border-radius: 5px;
            width: 100%;
            cursor: pointer;
            transition: all 0.3s;
            &:active {
              position: relative;
              top: 3px;
            }
          }
        }
      }
      @keyframes cartani {
        0% {
          top: 100px;
        }
        100% {
          top: 80px;
        }
      }
      // End Cart
    }
  }
}
// End header
// start section product
section {
  .container {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    padding: 100px 0;
    @include media(mobile) {
      flex-direction: column;
      padding: 0;
    }
    @include media(small) {
      flex-direction: column;
    }
    .img-content {
      flex-basis: 45%;
      text-align: center;
      .product-img {
        cursor: pointer;
        img{
          animation: look 2s linear forwards;
          width: 100%;
          border-radius: 10px;
          transition: all 0.3s;
          @include media(mobile){
            border-radius: 0;
            min-height: 390px;
        }
        }
        @keyframes look {
          0% {
            opacity: 0.5;
          }
          100% {
            opacity: 1;
          }
        }
      }
      .gallary {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        .img {
          width: 100px;
          //   height: 100px;
          border-radius: 10px;
          margin-right: 20px;
          cursor: pointer;
          border-radius: 10px;
          position: relative;
          img {
            transition: 0.3s;
            &:hover {
              opacity: 0.6;
            }
          }
        }
        .active {
          img {
            opacity: 0.6;
          }
          border: 2px solid $Orange;
        }
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
    }
    .content {
      flex-basis: 55%;
      padding: 45px;
      p.firstp {
        color: $Orange;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      h1 {
        font-size: 55px;
        margin: 0;
        @include media(mobile){
            font-size: 22px;
        }
      }
      p.secondp {
        font-weight: 400;
        color: $Dark-grayish-blue;
        font-size: 22px;
        line-height: 1.8;
        @include media(mobile){
            font-size:16px;
        }
      }
      .price {
        margin-bottom: 40px;
        p:nth-of-type(1) {
          font-weight: bold;
          font-size: 25px;
          margin: 0;
          span {
            margin-left: 20px;
            font-size: 15px;
            font-weight: 700;
            color: $Orange;
            background-color: $Pal-orange;
            padding: 3px 5px;
            border-radius: 4px;
          }
        }
        p:nth-of-type(2) {
          font-weight: 700;
          font-size: 18px;
          color: $Dark-grayish-blue;
          margin: 0;
        }
        @include media(mobile) {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      .cart {
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(mobile) {
          flex-direction: column;
          gap: 20px;
        }
        .count {
          background-color: $Light-grayish-blue;
          padding: 10px 0;
          flex-basis: 30%;
          margin-right: 20px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          @include media(mobile) {
            width: 100%;
          }
          span {
            background-color: $Light-grayish-blue;
            font-weight: bold;
            font-size: 30px;
            margin-right: 20px;
            &.minus,
            &.plus {
              position: relative;
              cursor: pointer;
              user-select: none;
              &:active {
                top: 3px;
              }
              img {
                width: 20px;
              }
            }
          }
        }
        button {
          position: relative;
          flex-basis: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          border: none;
          background-color: $Orange;
          border-radius: 10px;
          color: $White;
          font-size: 15px;
          font-weight: 700;
          padding: 20px 10px;
          cursor: pointer;
          box-shadow: 0px 10px 20px 0 hsl(25deg 77% 70%);
          transform: 0.5s;
          @include media(mobile) {
            width: 100%;
          }
          &:active {
            top: 8px;
          }
          img {
            color: $White;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
// End section product
// overlay
.overlay {
  flex-basis: 45%;
  text-align: center;
  display: none;
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000db;
  z-index: 1000;
  padding-top: 20vh;
  top: 0;
  left: 0;
  .close {
    width: 30px;
    color: white;
    background: $Orange;
    height: 30px;
    border-radius: 50%;
    position: relative;
    right: -250px;
    padding: 5px;
    cursor: pointer;
  }
  .product-img {
    img {
      animation: look 2s linear forwards;
    }
    @keyframes look {
      0% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  }
  img {
    width: 500px;
    border-radius: 10px;
    transition: all 0.3s;
  }
  .gallary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .img {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      margin-right: 20px;
      cursor: pointer;
      position: relative;
      img {
        transition: all 0.5s;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    .active {
      border: 2px solid $Orange;
      img {
        opacity: 0.6;
      }
    }
    img {
      width: 100px;
    }
  }
}
// overlay
